 
*{
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
}
.nav1
{
  
 margin-left: 30px;
}
ul {
    list-style-type: none;
    margin: 0;   
    padding-left: 10px;   
    overflow: hidden;    
    
   
   width: 1000px;
  }
  
  li {
    float: left;      
  }  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 27px 16px;
    text-decoration: none;
    margin-left: 9px;  
    font-size: medium;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  .logo {
   width: 120px;
   height: 22px;
  float: left;
  margin-left: 2px;
  padding: 16px 16px;
  margin-top: 12px;
 }
 .icons-menu
 {
   float: right;
   margin-right: 45px;
   margin-top: 3px; 
 }
 .icons-menu li{
  padding: 26px 12px;
  
   
 }

.title {
  color: rgb(23, 6, 6);
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.column {
  float: left;
  width: calc(25% - 20px); /* 25% width for each column with a 20px margin */
  margin: 0 10px; /* 10px margin on each side of the column */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}
.row {
padding: 20px

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3125rem;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: #000;
  margin-left: 20px;
}
p{
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 6px 4px;
}

.flex-container {
  
  background-color: rgb(233, 232, 232);
  height: 540px;
  width: 71em;
  display: flex;
  align-items: flex-start;
  margin: 0 auto; /* Center the container horizontally */
}

.flex-child {
 
  margin-top: 180px;
  margin-left: 60px;
}

.flex-child:first-child {
  margin-right: 40px;
}
.card-container
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 75em;
  margin-left: 26px;
}
.card{
  width: 262px;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 14px;
}
.btn 
{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 6px 2px;
  text-align: center;
}
p{
  text-align: justify;
}
.icon-section
{
  width: 100%; 
  box-sizing: border-box;
}
.icon-list
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 10%;
 
  padding: 10px;
}
.microsoft-text{
  font-size: 16px;
  margin-left: 80px; 
  width: 15%; 
  border: 1px solid black;
}
li{
  list-style: none;
  display: inline-block;
 
}
li a{
  margin-right: 25px;
}
.mid-ul{
  display: flex;
  padding-bottom: 6px;
  width: 300px;
  margin-right: 495px;
  
  margin-top: 20px;
}
.mid-ul li
{
  display: inline-block;
  list-style-type: none;
  padding: 5px 12px;
  margin: 3px;
}
button
{
  padding: 0;
  margin: 0;
  background-color: white;
  margin-left: 50px;
  
  width: 250px;
}
.container{
  background-color: #eee;
  width: 100%;
  
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-template-rows: 70%;

 
}
/* Create two equal columns that sits next to each other */
.items {
  
  padding: 40px;
  line-height: 40px;
  font-size:small;
 
}
@media screen and (max-width: 992px) {
  .items {
    flex: 50%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: items;
  }
}
section{
  width: 100%; 
  
}
.footer-end
{
 
 display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 10%;
 
  padding: 10px;
}

 .footer-items
{
  font-size:small;
  list-style-type: none;     
  display: flex;
  margin-left: 20px;
  
  width: 50%;
}
.footer-items li
{
  margin-right: 20px;
  
}
.footer-items-2
{
  float: right;
  font-size: 13px;
  width: 60%;
  margin-bottom: 9px;
}
.footer-items-2 li
{  
  margin-right: 17px;
}
.bigger {
 
}